<html lang="en">
<head>
	<meta charset="utf-8"/>

	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="client.js"> </script>

    <title> Westlaw QueryCracker </title>
        
    </head>

    <body>
    
    <div class="contentArea">
        <div class=header> 
            <p>Westlaw Query Checker <br> 
            Spot hidden problems with Westlaw terms and connectors queries <br>
            Andrew Johnson<br></p>
        </div>

    
        <form id="queryForm">
            <h2> Paste in your Westlaw Query </h2>
            <fieldset>
                
                Query: <br>
                <input type='text' name='query' id='queryVal'>
                <br>
                <input type='submit' value="submitQuery" id="subButton">
            </fieldset>
        </form>
        
        <div id='resultBox' class='explanationBox'>

        </div>
        
        <br>
        
        <div id='resultParenQuery' class='queryBox'>
            
        </div>
        
        <br>
        
        <div id='stopWordBox' class='explanationBox'>
        
        </div>
        
        <br>
        
        <div id='stopWordQueryBox' class='queryBox'>
        
        </div>
        
        <br>
        
        <div id='fieldWordBox' class='explanationBox'>
        
        </div>
        
        <br>
        
        <div = id='fieldQueryBox' class 'queryBox'>
        
        </div>
        
        <br>

    </div>
        
{{{body}}}

</body>
</html>
