<html lang="en">
<head>
	<meta charset="utf-8"/>

	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="client.js"> </script>

	<div class=header> 
	Westlaw Query Cracker <br> 
	Spot hidden problems with Westlaw terms and connectors queries <br>
	Andrew Johnson	<br>
	</div>
<title> Westlaw QueryCracker </title>
	
</head>

<body>
	<form id="queryForm">
		<h2> Paste in your Westlaw Query </h2>
		<fieldset>
			
			Name: <br>
			<input type='text' name='query' id='queryBox'>
			<br>
			<input type='submit' value="submitQuery" id="subButton">
		</fieldset>
	</form>
	
	<div id='resultBox'>
	
	</div>
	
{{{body}}}

</body>
</html>