#queryVal{
	width: 100%;
	height: 10em;
	
}

.probPar{
	background-color: green;
	color: red;

}

#explanationBox{
	font-size: 2em;
	
}

.stopWord{
	background-color:green;
	color: red;
	
}

#queryBox{
	font-size: 2em;
	
}

.